<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/ajax/libs/cropbox/cropbox.css" th:href="@{/ajax/libs/cropbox/cropbox.css}" rel="stylesheet"/>

<style>
    .tableDiv {
        width: 100px;
        height: 100px;
        margin: 10px;
        color: #fff;
        text-align: center;
        border-radius: 5px
    }

</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-dept-edit">
        <input name="sysLaboratoryId" th:value="${laboratoryId}" type="hidden"/>
        <input name="tableId" type="hidden"/>
        <div style="float: left" th:each="e,stat : ${data}">
            <div th:onclick="|seeTableSubscribe(this,${e.tableId},${e.tableStatus})|" class="tableDiv"
                 th:if="${e.tableStatus==1}" style="background:  #5bc0de;">

                <p th:text="${e.tableName}"></p>
            </div>
            <div th:text="${e.tableName}"
                 th:if="${e.tableStatus==0}"
                 style="background:  #d9534f;" class="tableDiv">
                <p th:text="${e.tableName}"></p>

            </div>
        </div>

        <div class="form-group" style="clear: both">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">

                <div class="alert alert-danger" role="alert"><p>红色的实验台不能进行预约。</p>
                    <p>只能选择早上8点到晚上12点进行预约。</p></div>
            </div>
        </div>


        <div class="form-group" style="clear: both">
            <label class="col-sm-3 control-label">当天预约：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="test1" name="dayTime">
            </div>
        </div>

        <div class="form-group" style="clear: both">
            <label class="col-sm-3 control-label">明天预约：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="test2" name="tomorrowTime">
            </div>
        </div>

        <div class="form-group" style="clear: both">
            <label class="col-sm-3 control-label">当天已预约时间段：</label>
            <div class="col-sm-8" id="findStatus1">
            </div>
        </div>

        <div class="form-group" style="clear: both">
            <label class="col-sm-3 control-label">明天已预约时间段：</label>
            <div class="col-sm-8" id="findStatus2">
            </div>
        </div>
        <div class="form-group" style="clear: both;margin-top: 50px">
            <div class="form-control-static col-sm-offset-10">
                <button disabled type="submit" class="btn btn-primary">提交</button>
                <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/cropbox/cropbox.js}"></script>
<script th:src="@{/js/laydate.js}"></script>
<script th:inline="javascript">

    $("#form-dept-edit").validate({
        rules: {},
        submitHandler: function (form) {
            var dayTime = $("input[name=dayTime]").val();
            var tomorrowTime = $("input[name=tomorrowTime]").val();
            if (dayTime == tomorrowTime && tomorrowTime == '') {
                alert("请选择时间")
                return
            }
            //17:00:00 - 21:00:00
            var time1 = dayTime.substring(0, 2);
            var time11 = dayTime.substring(10, 13);
            var time2 = tomorrowTime.substring(0, 2);
            var time22 = tomorrowTime.substring(10, 13);
            console.log(time1)
            console.log(time2)
            if (time1 != '' && (time1 * 1) < 8) {
                alert("请选择正确的范围08:00:00--24:00:00")
                return
            }
            else if(Number(time1) > Number(time11)){
                alert("请不要反选时间")
                return
            }
            if (time2 != '' && (time2 * 1) < 8) {
                alert("请选择正确的范围08:00:00--24:00:00")
                return
            }
            else if(Number(time2) > Number(time22)){
                alert("请不要反选时间")
                return
            }

            $.operate.save("/laboratory/subscribe/save", $('#form-dept-edit').serialize());
        }
    });

    var afterDiv;
    var flag = 0;
    var id;

    function seeTableSubscribe(obj, tableId, tableStatus) {
        debugger
        $("input[name=tableId]").val(tableId)
        id = tableId;
        if (flag != 0) {
            afterDiv.css("background", "#5bc0de");
            afterDiv = $(obj);

        } else {
            afterDiv = $(obj);
            flag = 1;
        }

        $(obj).css("background", '#000');
        $("button[type=submit]").removeAttr('disabled');

        $.ajax({
            url: '/laboratory/subscribe/dayTime/' + tableId,
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                $("#findStatus1").empty();

                result.forEach(function (obj, index) {
                    $("#findStatus1").append('<label class="form-control">'+obj.dayTime+'</label>')
                })
            }
        })

        $.ajax({
            url: '/laboratory/subscribe/tomorrowTime/' + tableId,
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                $("#findStatus2").empty();
                result.forEach(function (obj, index) {
                    $("#findStatus2").append('<label class="form-control">'+obj.tomorrowTime+'</label>')
                })
            }
        })

    }

    //日期时间范围
    laydate.render({
        elem: '#test1',
        type: 'time',
        range: true

    });
    //日期时间范围
    laydate.render({
        elem: '#test2',
        type: 'time',
        range: true

    });

</script>
</body>
</html>
