<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info order-table">
            <div id="container" style="height: 100%;width: 800px;height: 700px;padding: 100px" >

            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script th:inline="javascript">

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        title : {
            text: '预约利用率',
            subtext: '一天内每个实验室预约的时间比上总时间\n',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['空余时间','利用时间']
        },
        series : [
            {
                name: '利用时间（秒）',
                type: 'pie',
                data:[
                    {value:[[${useTime}]], name:'利用时间'},
                    {value:[[${spareTime}]], name:'空余时间'},
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

</script>
</body>
</html>