<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.table.mapper.SysTableMapper">


    <resultMap id="resultMap" type="com.ruoyi.project.system.table.domain.SysTable">
        <id property="tableId" column="table_id"/>
        <result property="tableName" column="table_name"/>
        <result property="tableNumber" column="table_number"/>
        <result property="tableStatus" column="table_status"/>
        <result property="tableRemark" column="table_remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="laboratoryId" column="laboratory_id"/>
        <association property="laboratory"  javaType="com.ruoyi.project.system.laboratory.domain.Laboratory">
            <id property="laboratoryId" column="laboratory_id"/>
            <result property="teachBuildId" column="teach_build_id"/>
            <result property="laboratoryType" column="laboratory_type"/>
            <result property="laboratoryNumber" column="laboratory_number"/>
            <result property="laboratoryImg" column="laboratory_img"/>
            <result property="laboratorySeating" column="laboratory_seating"/>
            <result property="deptId" column="dept_id"/>
            <result property="createTime" column="create_time"/>
            <association property="teachBuild"   javaType="com.ruoyi.project.system.build.domain.Build">
                <id property="teachBuildId" column="teach_build_id"/>
                <result property="teachBuildLocation" column="teach_build_location"/>
                <result property="teachBuildName" column="teach_build_name"/>
                <result property="teachBuildImg" column="teach_build_img"/>
                <result property="teachBuildLayer" column="teach_build_layer"/>
                <result property="teachBuildLaboratoryCount" column="teach_build_laboratory_count"/>
                <result property="createTime" column="create_time"/>
                <result property="updateTime" column="update_time"/>
            </association>

        </association>
    </resultMap>


    <insert id="save" parameterType="com.ruoyi.project.system.table.domain.SysTable">
        insert  into sys_table (`table_name`,table_number,table_status,table_remark,create_time,update_time,laboratory_Id)
        values (#{tableName} ,#{tableNumber},#{tableStatus},#{tableRemark},sysdate(),sysdate(),#{laboratoryId})
    </insert>
    <update id="update" parameterType="com.ruoyi.project.system.table.domain.SysTable">
        update sys_table set
        `table_name`=#{tableName},
        table_number=#{tableNumber},
        table_status=#{tableStatus},
        table_remark=#{tableRemark},
        laboratory_Id=#{laboratoryId},
        update_time=sysdate()
         where table_id=#{tableId}
    </update>
    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from sys_table where table_id=#{ids}
    </delete>


    <select id="selectList" resultMap="resultMap" parameterType="com.ruoyi.project.system.table.domain.SysTable">
         select t.*,c.*,d.*  from sys_table t
         left join sys_laboratory  c on c.laboratory_id=t.laboratory_id
        left join teach_build d on d.teach_build_id=c.teach_build_id
        <where>
            <if test="laboratoryId != null and laboratoryId != ''">
                AND t.laboratory_id = #{laboratoryId}
            </if>

        </where>

    </select>
    <select id="find" resultMap="resultMap" parameterType="java.lang.Long">
          select t.*,c.*,d.* from sys_table t
         left join sys_laboratory  c on c.laboratory_id=t.laboratory_id
         left join teach_build d on d.teach_build_id=c.teach_build_id
          where t.table_id=#{tableId}
    </select>

</mapper>